.headMenu {
    background-image: url("img/header.jpg");
    background-size: cover;
    text-transform: uppercase;
}

.headMenu ul li a{
    color: white;
    font-size: 20;
    font-weight: bold;
}

@media only screen and (min-width: 700px){

    .headMenu {
        display: flex;
        background-image: url("img/header.jpg");
        background-size: cover;
        text-transform: uppercase;
        height: 200px;
        align-items: flex-end;

    }

    .headMenu ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1rem;
    }
    .headMenu ul li a{
    }
}
